:root {
    --textgray: #c3bfc3;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f1624;
}

header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}

.page-anchors a {
    font-size: 20px;
    margin: 15px;
    transition: color .3s;
}

.page-anchors a:hover {
    color: white;
    transition-timing-function: linear;
}

a:link, a:visited { 
    text-decoration: none;
    color: var(--textgray);
 }

header img{
    height: 40px;
    width: 40px;
    
}

/*Welcome*/

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.welcome h1 {
    color: white;
    font-size: 60px;
}

.welcome p{
    margin-top: -30px;
    font-size: 25px;
    line-height: 1.5;
    color: var(--textgray);
}

/*About Me*/

.about-me {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-right: 380px;
    margin-left: 380px;
    font-size: 25px;
    color: var(--textgray);
}

.about-me article p{
    line-height: 1.5;
    margin-top: -20px;
}

.about-me article{
    flex: 3;
}

.about-me article h1{
    font-size: 60px;
    color: white;
}

.about-me div{
    flex: 1;
}

.about-me div img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: solid;
    border-width: 5px;
    margin-left: 20px;
    margin-top: 40px;
}

/*Education*/

.education {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-right: 380px;
    margin-left: 380px;
    color: var(--textgray);
}

.education h1{
    font-size: 60px;
    color: white;
}

.sect-sum{
    margin-top: -20px;
    font-size: 25px;
}
.edu-content h1{
    font-size: 30px;
}

.card-cont{
    display: flex;
    flex-direction: row;
}

.edu-card {
    width: 300px;
    flex: 1;
    margin-right: 20px;
}

.edu-content{
    line-height: 1.5;
}




