:root {
    --textgray: #c3bfc3;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f1624;
}

header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}

.page-anchors a {
    font-size: 20px;
    margin: 15px;
    transition: color .3s;
}

.page-anchors a:hover {
    color: white;
    transition-timing-function: linear;
}

a:link, a:visited { 
    text-decoration: none;
    color: var(--textgray);
 }

header img{
    height: 40px;
    width: 40px;
    
}

/*Welcome*/

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.welcome h1 {
    color: white;
    font-size: 60px;
    margin-top: 130px;
}

.welcome p{
    margin-top: -30px;
    font-size: larger;
    line-height: 2;
    color: var(--textgray);
}

/*About Me*/

.about-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--textgray);
}

.about-me article h1{
    color: white;
    font-size: 60px;
    margin-top: 130px;
}

img.headshot{
    height: 200px !important; 
    width: 200px !important;
    border-radius: 50%;
    border: solid;
    border-width: 7px;
    border-color: #2b3750;
    margin-top: 130px;
}

.about-me article p{
    margin-top: -55px;
}

.about-me article{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 400px;
    padding-right: 160px;
}

.about-me div{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 300px;
}

.about-me article{
    font-size: larger;
    line-height: 2;
}
